<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Card</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_note_list.css' %}">
  </head>
  <body >
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link disabled" id="nav-lab-4" data-toggle="tab" href="" role="tab" aria-controls="nav-lab-4" aria-selected="false"><b>Lab 4</b></a>
            <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="http://localhost:8000/lab-4/" role="tab" aria-controls="nav-home" aria-selected="false">Home</a>
            <a class="nav-link active" id="nav-note-list-tab" data-toggle="tab" href="http://localhost:8000/lab-4/note-list" role="tab" aria-controls="nav-note-list" aria-selected="true"><b>Note List</b></a>
            <a class="nav-link" id="nav-add-note-tab" data-toggle="tab" href="http://localhost:8000/lab-4/add-note" role="tab" aria-controls="nav-add-note" aria-selected="false">Add Note</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
        <div class="tab-pane fade show active" id="nav-note-list" role="tabpanel" aria-labelledby="nav-note-list-tab"></div>
        <div class="tab-pane fade" id="nav-add-note" role="tabpanel" aria-labelledby="nav-add-note-tab"></div>
      </div>
    {% if notes %} 
    {% for note in notes %}
      <div class="contents">
        <ul>
          <li> To : {{ note.To }} </li>
          <li> From : {{ note.From }} </li>
          <li> Title : {{ note.Title }} </li>
          <li> Message : {{ note.Message }} </li>
        </ul>
      </div>
    {% endfor %}
   {% endif %} 
  </body>
</html>