body {
    background-color: #155263;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F7F6E7;
}

.form-submit {
    padding: 100px 670px;
}

input {
    color:#F7F6E7;
    background-color: #A65E09;
}

.nav-link {
    color: #155263;
}

.nav {
    background-color: #F7F6E7;
}