body {
    background-color:#155263;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F7F6E7;
}

ul {
    background-color: #A65E09;
    margin: 30px 50px;
    padding: 15px;
    width: 360px;
    height: 170px;
    border: 3px solid #F7F6E7;
    border-radius: 10px;
}

.contents {
    float: left;
    margin: 20px;
}

li {
    list-style: none;
}

.nav-link {
    color: #155263;
}

.nav {
    background-color: #F7F6E7;
}
