body {
    background-color: #155263;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F7F6E7;
}

table {
    margin: 60px auto;
    width: 60%;
}

table, th, td {
    border: 5px solid #155263;
    border-collapse: collapse;
    border-radius : 100px;
}
  
th, td {
    background-color: #A65E09;
    padding: 7px 15px;
}

th {
    font-size: 22px;
}

td {
    font-size: 18px;
}

tr {
    height: 35px;
}

.To, .From {
    width: 15%;
}

.Title {
    width: 30%;
}

.Message {
    width: 40%;
}

.nav-link {
    color: #155263;
}

.nav {
    background-color: #F7F6E7;
}
